body{
    background-color: #162447;
    color: white;
    font-family: 'Hind Vadodara', sans-serif;
    text-align: center;
    margin: 0px;
}

.bookFormContainer{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-content: center;
    left: 0;
    top: 0;
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.bookFormContent{
    background-color: #162447;
    border-radius: 5px;
    padding: 1%;
    height: 50%;
    width: 25%;
    z-index: 2;
}

#bookFormHeader{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#bookFormFooter{
    margin-top: 6%;
}

#cancelButton, #addButton{
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
}

#cancelButton{
    background-color: #f85151;
    margin-right: 15px;
}

#addButton{
    background-color: #33c55f;
    margin-left: 15px;
}

#book-form{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.384);
    height: 100%;
    width: 100%;
    z-index: 10;
}

.newBookInput{
    border: none;
    border-radius: 2px;
    margin-bottom: 5%;
    padding: 5px 15px;
    height: 25px;
}

#newBookInfo{
    display: flex;
    flex-direction: column;
}

#newBookStatus{
    border: none;
    border-radius: 2px;
    text-indent: 10px;
    padding: 5px 0 5px 0;
}

h1{
    font-size: 40px;
}

#books-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.books{
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5%;
    min-width: 210px;
    min-height: 250px;
    transition: 0.3s;
}

.books:hover{
    transform: scale(1.05);
}

.books-header{
    margin-top: 1px;
}

.empty-books{
    align-items: center;
    justify-content: center;
}

.book-title{
    margin-bottom: 5%;
}

.book-author{
    font-size: small;
    margin-top: 1%;
}


.book-Status{
    font-size: larger;
    color: #33c55f; /*make red when not finished*/
}

.book-options{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}
/* 
button{
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    border-style: none;
} */

#page-footer{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.377);
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0% 1%;
}

#my-name:hover, a:hover{
    text-shadow: 0px 0px 5px black;
}

a:hover{
    color: rgba(255, 255, 255, 0.308);
}

#github-link{
    font-size: 20px;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: white;
}

.editBook, .deleteBook, .raiseBookPosition, .addBook{
    background-color: #33c55f;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    
}

.addBook{
    padding: 5px 5px;
}